.in-container{
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.in-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--secondary-color);
    width: 90%;
    height: 50px;
    padding: 0 10px;
    border-radius: 20px;
    font-size: 16px;
}

.in-bar{
    background: none;
    width: 80%;
    height: 100%;
    outline: none;
    border: none;
    border-radius: 20px;
    color: var(--text-color);
    font-size: 16px;
    cursor:text;
}

button{
    margin: 5px;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: var(--tertiary-color);
}